body {
	background-color: lightblue;
}


h1 {
	color: DodgerBlue; 
	font-size: 80px;
	text-align: center;
	font-family: century gothic;
}

#home {
  	float: left;
 	width:50px;
  	height:50px;  
  	text-align: left;
 	position: absolute;
  	top: 0;
  	left: 0;
}

h2 {
	font-family: verdana;
	color: Tomato;
	text-align: center;
}

p {
	color: black; 
	font-size: 25px;
	text-align: center;
	font-family: palatino;
}


#video {
	text-align: center;
}


a {
	font-family: palatino;
	color: black;
}

#newimg {
	width: 100px;
	height: 100px;
}

#img2 {
	width: 100px;
	height: 21px;
}

.list li{
	font-family: palatino;
	text-align: center;
	font-size: 20px;
	color: black;
}

ul {
	text-align: center;
	list-style: inside;
}
	

#image1 {
	width: 200px;
	height: 150px;
}

#image {
	text-align: center;
}

#resize {
	width: 250px;
	height: 150px;
}	

table.center {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-family: palatino;
	text-align: center;
	font-size: 17px;
	color: darkblue;
}

#big {
	width: 300px;
	height: 300px;
}